.propImg{
    height: 250px;
    width: 250px;
}

.card {
    display: inline-block;
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
}

.card img {
    display: block;
    /* width: 100%; */
    height: auto;
}
